<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="8.0" name="NorTK-OS">
	<description type="system">
		<author>Renich Bon Ćirić</author>
		<contact>renich@nortk.com</contact>
		<specification>NorTK OS (CentOS Stream 10)</specification>
	</description>

	<preferences>
		<version>0.1.0</version>
		<packagemanager>dnf4</packagemanager>
		<locale>en_US</locale>
		<keytable>es</keytable>
		<timezone>UTC</timezone>
		<release-version>10</release-version>
		<bootsplash-theme>nortk</bootsplash-theme>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-excludedocs>true</rpm-excludedocs>
	</preferences>

	<include from="this://./repositories/core.xml"/>
	<include from="this://./repositories/epel.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/desktop-environments.xml"/>
	<include from="this://./components/liveinstall.xml"/>
	<include from="this://./components/users.xml"/>
	<include from="this://./platforms/workstation.xml"/>

	<packages type="image" patternType="plusRecommended">
		<namedCollection name="core"/>
		<namedCollection name="base"/>
		<namedCollection name="system-tools"/>
		<package name="glibc-langpack-en"/>
		<package name="glibc-langpack-es"/>
		<package name="gdisk"/>
		<package name="kernel-modules"/>
		<package name="kernel-modules-extra"/>
	</packages>

	<packages type="bootstrap">
		<package name="basesystem"/>
		<package name="filesystem"/>
		<package name="dnf"/>
	</packages>
</image>
